<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="News By Wenyu">
        <meta name="theme-color" content="#ffdd57">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="news"></div>
        <noscript>
            <div>Please enable JavaScript</div>
        </noscript>
    </body>
</html>
